* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;

  --header-greeting-color: rgb(55, 55, 55);
  --header-username-color: rgb(50, 50, 50);

  --main-content-title-color: rgb(15, 15, 15);
  --main-content-text-color: rgb(85, 85, 85);
  --main-content-bg-color: rgb(220, 225, 234);
  --main-content-item-bg-color: rgb(255, 255, 255);

  --sidebar-bg-color: rgb(100, 105, 240);
  --sidebar-link-color: rgb(245, 245, 245);
}

body {
  min-height: 100vh;

  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 220px 3fr;
}

ul {
  list-style-type: none;
}

button {
  appearance: none;
  background-color: var(--sidebar-bg-color);
  border-radius: 50px;
  border: none;
  color: var(--sidebar-link-color);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  height: 45px;
  width: 95px;
}
button:hover {
  filter: brightness(115%);
}
button:active {
  filter: brightness(95%);
}

input[type="search"] {
  appearance: none;
  background-color: rgb(230, 230, 235);
  border-radius: 50px;
  border: none;
  flex: 1;
  height: 28px;
  max-width: 550px;
  padding: 0 12px;
}

.main-padding {
  padding: 1rem;
}

/* Sidebar start */
.sidebar {
  grid-row: 1/3;

  background-color: var(--sidebar-bg-color);
  color: var(--sidebar-link-color);
  font-size: 1.3rem;
  padding: 2rem; 
  
  display: grid;
  align-content: start;
  gap: 3rem;
}

.sidebar__title,
.sidebar__links {
  display: grid;
  grid-template-columns: 36px 1fr;
  align-items: center;
  gap: 18px 8px;
}
.sidebar__icons {
  justify-self: center;
}

.sidebar a, 
.sidebar a:visited {
  text-decoration: none;
  color: var(--sidebar-link-color);
}
.sidebar a:hover {
  color: rgb(25, 25, 25);
}
/* Sidebar end */

/* Header start */
.header {
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);
  position: relative;

  display: grid;
  grid-template-columns: 1fr 280px;
  align-content: space-between;
  gap: 25px;
}

.header__buttons,
.header__user-settings {
  justify-self: end;
}

.header > div {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 0.5rem;
}

.header svg {
  cursor: pointer;
}

.header img {
  border-radius: 100vh;
  height: auto;
  width: 75px;
}

.header__search-bar > svg {
  cursor: pointer;
}
/* Header end */

/* Main start */
.main-content {
  background-color: var(--main-content-bg-color);
  padding: 1rem;

  display: grid;
  grid-template-columns: 4fr 1fr;
  align-content: start;
  gap: 20px;
}

.projects__container {
  grid-row: 1/3;
  padding-right: 0;

  display: grid;
  grid-template-rows: auto 1fr;
  gap: 15px;
}

.projects__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

.projects__item {
  background-color: var(--main-content-item-bg-color);
  border-radius: 8px;
  padding: 0.8rem 1.5rem;

  display: grid;
  align-items: center;
}

.projects__item h3 {
  margin-bottom: 5px;
}

.projects__icons {
  justify-self: end;
  align-items: end;

  color: var(--main-content-text-color);
  cursor: pointer;
  display: grid;
  grid-auto-flow: column;
  gap: 25px;
}
.projects__icons > svg {
  width: 32px;
  height: auto;
}

.main-sidebar {
  grid-row: 1/3;
  padding-left: 0;
  
  display: grid;
  align-content: start;
  gap: 15px;
}

.main-sidebar > .announcements__container,
.main-sidebar > .trending__container {
  background-color: var(--main-content-item-bg-color);
  border-radius: 8px;
  padding: 1rem;

  display: grid;
  gap: 10px;
}

.trending__post {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}

.main-sidebar img {
  width: 48px;
  height: auto;
}
/* Main end */

/* Font styles start */
.header .user-greeting {
  color: var(--header-greeting-color);
  font-size: 1.1rem;
}
.header .user-name {
  color: var(--header-username-color);
  font-size: 1.6rem;
  font-weight: bold;
}

.main-content p {
  color: var(--main-content-text-color);
}
.main-content h3,
.main-content a {
  color: var(--main-content-title-color);
}
.main-sidebar h3 {
  font-size: 1rem;
}
.main-sidebar p {
  font-size: 0.875rem;
  padding: 3px 0;
}
/* Font styles end */

/* Project's icons and main-sidebar links styles start */
.main-sidebar a {
  text-decoration: none;
}
.main-sidebar a:hover,
.projects__icons > svg:hover {
  color: var(--sidebar-bg-color);
}
.main-sidebar a:active,
.projects__icons > svg:active {
  filter: brightness(75%);
}
/* Project's icons and main-sidebar links styles end */

/* Image credits start */
.freepik {
  border-bottom: 1px solid #fff;
}
.freepik-images:hover,
.freepik-images:hover .freepik {
  color: #000;
  border-color: #000;
}
/* Image credits end */